.clientes-container {
    padding: 20px;
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
  }
  .clientes-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center; /* Centra horizontalmente dentro del contenedor */
  }
.cliente-item {
    width: 300px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.cliente-item:hover {
    transform: scale(1.05);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

.cliente-card {
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #fff;
    cursor: pointer;
}

.btn {
    text-decoration: none;
    margin-right: 0.5%;
    border-radius: 10px;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #82d188;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  .btn:hover {
    background-color: #82d188;
  }