.Tabla {
	max-width: 800px;
	/* Establece el ancho máximo de la tabla */
	margin: 0 auto;
	/* Centra la tabla horizontalmente en la página */
	margin-top: 1%;
	margin-bottom: 4%;
}

@media (max-width: 600px) {
	.Tabla {
		width: 100%;

		/* Establece el ancho completo de la tabla en dispositivos móviles */
	}
}

.Tabla table {
	width: 100%;
	/* Establece el ancho completo de la tabla */
	border-collapse: collapse;

}

.Tabla th,
.Tabla td {
	padding: 8px;
	text-align: left;
	border-bottom: 1px solid #ddd;
}

.Tabla th {
	background-color: #f2f2f2;
}

.Tabla tbody tr {
	background-color: #f2f2f2;
}

.Tabla tbody tr:hover {
	background-color: #ddd;
}

.Tabla a {
	text-decoration: none;
	color: #333;
}

.custom-modal {
  width: 50rem;
  margin: auto;
  margin-top: 5rem;
  background-color: #fff;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
  .custom-modal h2{
text-align: center;
  }
  
